body {
  background-color: rgb(20, 19, 19);
  color: rgb(252, 252, 252);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.Image {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
}

.Image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 10px solid white;
}

.box-1 {
  background-color: rgb(90, 18, 90);
  padding: 15px;
}
.box-2 {
  background-color: bisque;
  margin-top: 0px;
  margin-right: 800px;
  color: black;
}
ul {
  margin-top: 0;
  padding: 20px;
}
.box-3 {
  margin-bottom: 0;
}

.box-4 {
  background-color: gray;
  margin-top: 0;
}
